#two h1 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 8rem;
  font-weight: 900;
  color: rgba(237, 240, 245, 0.76);
  font-family: 'Poppins', sans-serif;
  -webkit-transform: translateY(-50px) translateX(0px);
  -moz-transform: translateY(-50px) translateX(0px);
  -o-transform: translateY(-50px) translateX(0px);
}

#two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.service-card {
  position: relative;
  width: 350px;
  height: 400px;
  background-color: #E7EAEE;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 4px solid #CC1E4A;
  border-radius: 5%;
  padding: 3%;
  margin: auto 5% auto;
}

.service-card button {
  background-color: #CC1E4A;
  border: 2px solid black;
  width: 150px;
  height: 60px;
  border-radius: 5%;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.confirm {
  color: #CC1E4A;
  font-size: 0.75rem;
  display: none;
}

.service-card p {
  font-size: 1.5rem;
}

.service-card h2 {
  font-size: 2.5rem;
}

.top-image {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  max-height: 200px;
  padding: 5%;
  transform: translateY(-90px);
  background-color: #CC1E4A;
  border-radius: 5%;
  box-shadow: -2px 6px 2px 1px rgba(0, 0, 0, 0.6);
}

.top-image img {
  width: 100px;
}

.service-card:hover {
  box-shadow: -12px 16px 7px 1px rgba(0, 0, 0, 0.6);
}

.service-card:hover .confirm {
  color: #E7EAEE;
}

.service-card:hover {
  border-color: #E7EAEE;
  background-color: #CC1E4A;
  color: #E7EAEE;
}

.service-card:hover .know-more {
  background-color: #E7EAEE;
  color: #CC1E4A;
}

/* drop off popup */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  margin-right: 30%;
}

.form-popup::after {
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  max-width: 580px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

#overlay {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, .8);
  z-index: 999;
}

.service-card1 {
  position: relative;
  width: 350px;
  height: 400px;
  background-color: #E7EAEE;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 4px solid #CC1E4A;
  border-radius: 5%;
  padding: 3%;
  margin: auto 5% auto;
}

.service-card1 button {
  background-color: #CC1E4A;
  border: 2px solid black;
  width: 150px;
  height: 60px;
  border-radius: 5%;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.confirm {
  color: #CC1E4A;
  font-size: 0.75rem;
  display: none;
}

.service-card1 p {
  font-size: 1.5rem;
}

.service-card1 h2 {
  font-size: 2.5rem;
}

.top-image {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  max-height: 200px;
  padding: 5%;
  transform: translateY(-90px);
  background-color: #CC1E4A;
  border-radius: 5%;
  box-shadow: -2px 6px 2px 1px rgba(0, 0, 0, 0.6);
}

.top-image img {
  width: 100px;
}

.service-card1:hover {
  box-shadow: -12px 16px 7px 1px rgba(0, 0, 0, 0.6);
}

.service-card1:hover .confirm {
  color: #E7EAEE;
}

.service-card1:hover {
  border-color: #E7EAEE;
  background-color: #CC1E4A;
  color: #E7EAEE;
}

.service-card1:hover .know-more {
  background-color: #E7EAEE;
  color: #CC1E4A;
}

@media screen and (max-width: 768px) {
  #two {
    align-items: center;
    height: 110vh;
  }

  #two h1 {
    top: 6%;
    /* top: 51%; */
    left: 0%;
    align-content: center;
    font-size: 2.5rem;
    font-weight: 900;
  }

  #two h2 {
    transform: translateY(52px);
    font-size: 35px;
  }

  #two p {
    font-size: 15px;
    transform: translateY(17px);
  }

  .top-image {
    transform: translateY(10px);
    left: 38%;
    width: 25%;
    height: 26%;
  }

  .top-image img {
    width: 50px;
  }

  .service-card {
    top: 0%;
    bottom: 0%;
    height: 300px;
  }

  .service-card1 {
    top: 5%;
    bottom: 0%;
    height: 300px;
  }
}
